body
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: center;
        font-size: 20px;
        position: relative;
        top: -50px;
        color: white;
        font-family: 'Courier New', Courier, monospace;

        background-image: url("img/srry\ for\ stealing\ but\ I\'m\ lazy.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;;
        
    }

.btn
    {
        border-radius: 5px;
        cursor: pointer;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

.btn:hover
    {
        color: beige;
        background-color: #31343a;
    }

header 
    {
        position: relative;
        top: -20vh;
        font-size: 80px;
        font-weight: bold;
        font-variant-caps: all-small-caps;
        
        padding-left: 15px;
        padding-right: 15px;
        border: 5px solid beige;
        background-color: #31343a;
    }

.soldtxt
    {
        position: absolute;
        right: 5vh;
        top: 10vh;
        background-color: #31343a;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;

        border: 2px solid beige;
    }

#sold
    {
        position: absolute;
        right: 5.5vh;
        top: 13vh;
    }


.storage
    {
        padding-bottom: 20px;
    }

.empty
    {
        z-index: -5;
        position: absolute;
        justify-content: center;
        top: 42vh;


        background-color: #31343a;
        border: 5px solid beige;
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 200px;
        padding-bottom: 50px;
    }